@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-montserrat: "Montserrat Variable", sans-serif;
  --color-border: #aeaeae;
  --color-text: #000000;
  --color-background: #c5c5c5;
  --color-surface: #e0e0e0;

  :where(.dark) {
    --color-text-secundary: #bbbbbb;
    --color-text-primary: #ffffff;
    --color-border: #373737;
    --color-background: #18181b;
    --color-surface: #B2B2B2;
  }
}

@theme inline {
  --color-secundary: var(--color-text-secundary);
  --color-primary: var(--color-text-primary);
  --font-sans: var(--font-montserrat);
  --color-border: var(--color-border);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}